<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<style>
		</style>
        <title>Информация</title>
    </head>
    <body>
        <form action="" method="post">
        <nav>
            <input type="submit" name="main" value="Главная">
            <input type="submit" name="info" value="Информация">
        </nav>
        <p>Над проектом работали студенты из группы БВТ2106</p>
        <p>Студенты:</p>
        <pre>
        Пономарев Владислав
        Эрнест Латыпов
        Цецен Кедяев
        Маргарита Киселёва
        Фионин Максим 
        </pre>
        <p>С помощью данного сайта вы можете трекать видео, загрузив его на главную страницу.</p>
        <p>Для трекинга нужно загрузить файл с форматом mp4. </p>
        <p>После отправки файла нужно подождать некоторое время. После этого на ваш компьютер будет загружен файл с результатом обработки</p>
        </form>
    </body>
</html>